blessings==1.6
boto==2.38.0
httplib2==0.9.1
mozdevice==0.45
mozfile==1.1
mozinfo==0.8
mozlog==2.11
moznetwork==0.24
mozprocess==0.22
mozversion==1.2
oauth2==1.5.211
requests==2.7.0
treeherder-client==1.3
python-dateutil==2.2
