blessings==1.6
boto==2.38.0
manifestparser==1.1
mozdevice==0.46
mozfile==1.2
mozinfo==0.8
mozlog==3.0
moznetwork==0.27
mozprocess==0.22
mozversion==1.3
requests==2.8.1
treeherder-client==2.0.1
python-dateutil==2.2

# Required by treeherder-client
mohawk==0.3.1
requests-hawk==1.0.0
six==1.10.0
